.MuiPaper-root{ 
    background-color: #1B2631 !important;
    color: white !important;
    
}

.item-text{
    color: #fff;
}

.item-icon{
    color: #FFC300;
}

.MuiButtonBase-root svg{
    color: #FFC300;
}

.MuiPaper-root a { 
    color: white !important;
    
}